.book--detail {
    -fx-font-size: 18px;
}

.book--item {
    -fx-background-radius: 15px;
    -fx-background-color:
            white,
            #3c005e;
    -fx-background-insets: 1, 2;
}

.book--title {
    -fx-font-size: 30px;
    -fx-font-weight: bold;
}

.book--description {
    -fx-font-size: 16px;
    -fx-pref-width: 600px;
}

.book--delete-button {
    -fx-background-color: darkred;
}

.book--delete-button:hover {
    -fx-background-color: firebrick;
}

.book--edit-button {
    -fx-background-color: olive;
}

.book--edit-button:hover {
    -fx-background-color: darkgoldenrod;
}

.book--inspect-button {
    -fx-background-color: indigo;
}

.book--inspect-button:hover {
    -fx-background-color: darkslateblue;
}

.book--delete-button,
.book--edit-button,
.book--inspect-button {
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-border-color: white;
    -fx-border-width: 1;
}