.form--container {
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
    -fx-padding: 32 16;
    -fx-background-color:
            white,
            #3c005e;
}

.form--image-container {
    -fx-padding: 0 16;
    -fx-background-color:
            white,
            #3c005e;
}

.form--fields-wrapper {
    -fx-padding: 0 15 0 0;
}


.form--fields-wrapper HBox {
    -fx-spacing: 10px;
    -fx-alignment: center-left;
}


.form--fields-wrapper * {
    -fx-text-fill: #efefef;
    -fx-font-size: 14px;
    -fx-font-family: "Noto Sans";
}

.form--fields-wrapper TextField,
.form--fields-wrapper Spinner,
.form--fields-wrapper TextArea {
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
    -fx-background-color:
            white,
            #6000a2;
    -fx-padding: 8;
    -fx-border-color: transparent;
    -fx-border-width: 1;
}

.form--fields-wrapper TextField,
.form--fields-wrapper Spinner {
    -fx-pref-width: 250px;
}

.form--fields-wrapper TextArea {
    -fx-max-width: 350px;
}

.form--fields-wrapper Spinner .text-field,
.form--fields-wrapper TextArea .content {
    -fx-background-color: transparent;
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
    -fx-padding: 0;
}

.form--fields-wrapper Spinner .increment-arrow-button,
.form--fields-wrapper Spinner .decrement-arrow-button {
    -fx-padding: 0;
    -fx-background-color: transparent;
    -fx-shape: "";
    -fx-pref-width: 0;
    -fx-pref-height: 0;
    -fx-min-width: 0;
    -fx-min-height: 0;
    -fx-max-width: 0;
    -fx-max-height: 0;
    -fx-opacity: 0;
}

.form--fields-wrapper .label {
    -fx-font-family: "Noto Sans";
    -fx-font-size: 14px;
    -fx-min-width: 100px;
}

.form--header {
    -fx-font-size: 30px;
    -fx-font-weight: bold;
}

.scroll-bar:vertical {
    -fx-background-color: transparent;
    -fx-padding: 8 4 8 16;
    -fx-pref-width: 30px;
}