.form--container {
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
    -fx-padding: 16;
    -fx-background-color:
            white,
            #3c005e;
}

.image--container {
    -fx-padding: 0 16;
    -fx-background-color:
            white,
            #3c005e;
}