.app--title-bar {
    -fx-background-color: #3a007a;
    -fx-padding: 2 0 2 8;
    -fx-min-height: 32px;
    -fx-max-height: 32px;
}

.app--title-label {
    -fx-text-fill: white;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}

.app--title-button {
    -fx-font-family: "Segoe UI Emoji";
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-cursor: hand;
    -fx-pref-width: 48px;
    -fx-pref-height: 32px;
}

.app--title-button:hover {
    -fx-background-color: #ffffff22;
}

.app--title-button:pressed {
    -fx-background-color: #ffffff44;
}
